<footer class="mt-24">
  <div class="border-t border-gray-200 dark:border-gray-600 py-8 text-sm text-gray-500 dark:text-gray-400 text-center sm:text-left"><span class="block sm:inline">&copy; 2021 Archboard, LLC</span> <span class="block sm:inline">All rights reserved.</span></div>
</footer>