<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/assets/main.bundle.css">
<title>{{ title }} | Archboard</title>
<meta name="application-name" content="Archboard Documentation" />
<meta name="generator" content="11ty" />
<meta name="description" content="{{ description }}" />
<script>
  window.changeTheme = (dark) => {
    if (dark) {
      document.documentElement.classList.add('dark')
    } else {
      document.documentElement.classList.remove('dark')
    }

    localStorage.theme = dark ? 'dark' : 'light'
  }

  window.changeTheme(localStorage.theme === 'dark' || (!('theme' in localStorage) && window.matchMedia('(prefers-color-scheme: dark)').matches))
</script>