<!DOCTYPE html>
<html lang="{{ locale }}" dir={{ dir }}>
<head>
  {% include "head.njk" %}
  {% block head %}{% endblock %}
</head>
<body class="bg-white dark:bg-gray-900 text-gray-900 dark:text-gray-100">
  {% include 'header.njk' %}
  <main class="prose dark:prose-dark">
    {% block body %}
      {{ content | safe }}
    {% endblock %}
  </main>
</body>
</html>
